	
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
   
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.responsive {
   
    max-width: 200px;
    height: auto;
  }